<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="garbagebin.com.garbagebin" >

    <uses-sdk tools:overrideLibrary="com.oguzdev.circularfloatingactionmenu.library" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="garbagebin.com.garbagebin.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="garbagebin.com.garbagebin.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.garbagebin.Utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <activity
            android:name="com.garbagebin.fragments.SearchFragement1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <activity
            android:name=".LoginScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.garbagebin.fragments.ChangePasswordFragment"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timeline"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".SignUp"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="garbagebin.com.garbagebin" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmIntentService"
            android:enabled="true" />

        <activity
            android:name=".ProfileScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CharacterDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.garbagebin.photoGallery.ViewPagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.garbagebin.youtube_classes.VideoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ComicStrip"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainScreenNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>

        <service android:name="com.garbagebin.services.BroadcastService_Timeline" />
        <service android:name="com.garbagebin.services.BroadcastService_HotGags" />
    </application>

</manifest>
